*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color:#dee8ee;
    /* background-color:rgb(40, 37, 37); */
    font-family: "Poppins", sans-serif;
    /* color: aliceblue; */
}