.About-content{
    margin-left: 50px;
}
.About-me{
    margin-bottom: 20px;
    color: #e0b50f;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.About-description{
 font-weight: 500;
}