.timeline-container {
  display: flex;
  justify-content: center;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Align items in the center horizontally */
  position: relative;
  max-width: 1200px;
}

.timeline-item {
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 2px;
  height: 100%;
  background-color: black;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.timeline-content {
  position: relative;
  width: 30rem;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.timeline-content h4 {
  margin-top: 0;
  background-color: #f9f9f9;
  font-weight: 600;
  font-variant: small-caps;  
  font-family: "Poppins", sans-serif;
}

.timeline-content p {
  margin-bottom: 0;
    font-family: "Poppins", sans-serif;

  background-color: #f9f9f9;
}
.education-tittle{
    margin-bottom: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: #e0b50f;
}

@media (max-width: 767px) {
  .timeline-content {
    width: 100%;
  }
}
